<div class="row">
<!-- col -->
<div class="col-xs-12 col-sm-8 col-md-7 col-lg-5">
<h1 class="page-title txt-color-blue">
<!-- PAGE HEADER -->
<i class="fa-fw fa fa-building-o"></i> 
Movimiento cuentas de fondo
</h1>
</div>
<!-- end col -->

<!-- right side of the page with the sparkline graphs -->
<!-- col -->
<div class="col-xs-12 col-sm-5 col-md-5 col-lg-7">
<!-- sparks -->
<ul id="sparks">
<li class="sparks-info">
<h5> Prom. Facturacion <span class="txt-color-{% if direccion_facturacion == "up" %}blue{% else %}red{% endif %}"><i class="fa fa-arrow-circle-{{ direccion_facturacion }}" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;{{ promedio_facturacion }}</span></h5>
<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
{{ movimiento_facturacion }}
</div>
</li>
<li class="sparks-info">
<h5> Prom. Cobranza <span class="txt-color-{% if direccion_facturacion == "up" %}blue{% else %}red{% endif %}"><i class="fa fa-arrow-circle-{{ direccion_cobranza }}"></i>&nbsp;{{ promedio_cobranza }}</span></h5>
<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
    {{ movimiento_cobranza }}
</div>
</li>
</ul>
<!-- end sparks -->
</div>
<!-- end col -->	
</div>
<section id="widget-grid" class="">
<div id="printable"class="row">
<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
<div id="wid-id-1" class="jarviswidget jarviswidget-color-red" data-widget-editbutton="false" data-widget-colorbutton="false" 
data-widget-togglebutton="false" 
data-widget-deletebutton="false" 
data-widget-fullscreenbutton="false" 
data-widget-custombutton="false" >
<header role="heading">
<span class="widget-icon"> <i class="fa fa-building-o"></i> </span>
<h3 class="font-md">Cuentas de fondos</h3>
</header>

<!-- widget div-->
<div role="content">

<!-- widget edit box -->
<div class="jarviswidget-editbox">
<!-- This area used as dropdown edit box -->

</div>
<!-- end widget edit box -->

<!-- widget content -->
<div class="widget-body">
<div class="widget-body-toolbar bg-color-white">
<form class="form-inline" role="form">
<div class="row">
<div class="col-sm-12 col-md-10">
<h3 class="header smaller lighter red">
<div class="input-group">
<span class="input-group-addon">
<i class="ace-icon fa fa-th-large"></i>
</span>
{% set codinm = "" %}
<select class="form-control" id="form-field-select-1">
{% for inmueble in propiedades %}
    {% if codinm != inmueble.id_inmueble %}
        {% set codinm = inmueble.id_inmueble %}
        <option value="{{ inmueble.id_inmueble }}" selected="{% if codinm == id_inmueble %}selected{% endif %}">{{inmueble.nombre_inmueble}}</option>
    {% endif %}
{% endfor %}
</select>
</div>
</h3> 
</div>
</div>
</form>
</div>
<div class="row">
<div class="col-sm-12">
<table class="table table-striped table-bordered table-hover">
<thead class="thin-border-bottom"><tr><th style="text-align: center">Código de Gasto</th>
<th style="text-align: center">Descripción</th>
<th style="text-align: center" class="hidden-phone">Saldo</th>
</thead>
<tbody>
{% set total = 0 %}
{% if fondos %}
{% for detalle in fondos %}
{% set total = total + detalle.saldo %}
<tr>
<td style="text-align: center">
<a href="#inmueble/listarCuentasDeFondo/{{ detalle.codigo_gasto}}">{{ detalle.codigo_gasto}}</a>
</td>
<td><a href="#inmueble/listarCuentasDeFondo/{{ detalle.codigo_gasto}}">{{detalle.descripcion}}</a></td>
<td><span class="pull-right">{{ format_number(detalle.saldo) }}</span></td>
</tr>
{% endfor %}
<tr><td colspan="2"><strong>Total fondos:</strong></td><td><span class="pull-right"><strong>{{ format_number(total) }}</strong></span></td></tr>
{% else %}
<tr><td class="dataTables_empty" colspan="3">No existe información de cuentas de fondo publicada</td></tr>
{% endif %}

</tbody>
</table>
</div>
</div>
{% if fondos %}
<div class="row">
<div class="col-xs-12">
<div class="table-header">MOVIMIENTOS CUENTA: <strong>{{cuenta.descripcion}}</strong></div>
<div>
<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
<thead>
<tr>
<th>Fecha</th>
<th>Descripción</th>
<th>Debe</th>
<th>Haber</th>
<th>Saldo</th>
</tr>
</thead>
{% if not movimientos is empty %}
{% set saldo = 0 %}
<tbody>
{% for item in movimientos %}
{% set saldo = saldo + item.haber - item.debe %}
<tr>
<td style="text-align: center">{{item.fecha|date('d/m/Y')}}</td>
<td>{{item.concepto}}</td>
<td style="text-align: right">{{format_number(item.debe)}}</td>
<td style="text-align: right">{{format_number(item.haber)}}</td>
<td style="text-align: right">{{format_number(saldo)}}</td>
</tr>
{% endfor %}
</tbody>
{% endif %}
</table>
</div>
</div>
</div>
{% endif %}
</div>
</div></div>
</article>
</div>
</section>
<script type="text/javascript">

pageSetUp();
var pagefunction = function() {

//initiate dataTables plugin
var myTable = 
$('#dynamic-table')
.dataTable({
/**
sScrollY: "200px",//enable vertical scrolling
sScrollX: "100%",
sScrollXInner: "120%",//enable horizintal scrolling with its content 120% of its container
bScrollCollapse: true,
*/

bAutoWidth: false,//for better responsiveness
"aoColumns": [
{ "bSortable": false },
{ "bSortable": false },
{ "bSortable": false },
{ "bSortable": false },
{ "bSortable": false }
],
"aaSorting": [],
"language": {
"sProcessing": "Procesando...",
"search":         "Buscar:",
"lengthMenu": "Mostrar _MENU_ registros por página",
"zeroRecords": "No hay registros con este criterío de búsqueda - Lo sentimos",
"info": "Mostrando página _PAGE_ de _PAGES_",
"sInfo": "Mostrando registros del _START_ al _END_ de un total de <strong>_TOTAL_</strong> registros",
"infoEmpty": "No existen movimientos en esta cuenta",
"infoFiltered": "(filtrado de _MAX_ total registros)",
"oPaginate": {
"sFirst":    "Primero",
"sLast":     "Ultimo",
"sNext":     "Siguiente",
"sPrevious": "Anterior"
},
},
"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todo"]]
});

};
/*loadScript("{{ constant('ROOT') }}js/plugin/datatables/jquery.dataTables.min.js", function(){
loadScript("{{ constant('ROOT') }}js/plugin/datatables/dataTables.colVis.min.js", function(){
loadScript("{{ constant('ROOT') }}js/plugin/datatables/dataTables.tableTools.min.js", function(){
loadScript("{{ constant('ROOT') }}js/plugin/datatables/dataTables.bootstrap.min.js", pagefunction);
});
});
});*/
</script>